* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: crimson;
    margin: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #F6264D;
    padding: 37px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.2);
    width: 456px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    background-color: #EEEEEE;
    border: none;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #EEEEEE;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: #e9dbde;
}

#error-message {
    color: rgb(255, 255, 255);
    margin-top: 22px;
}
